@import "tailwindcss";

@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
.custom-leaflet-marker { background: transparent; border: none; } 
.custom-popup .leaflet-popup-content-wrapper { border-radius: 1rem; padding: 4px; box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); } 
.custom-popup .leaflet-popup-content { margin: 8px 12px; } 
.custom-popup .leaflet-popup-close-button { margin-top: 4px; margin-right: 4px; color: #94a3b8 !important; }
